.filters {
  padding-left: 30px;
  padding-top: 30px;

  .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #384255;
  }

  .list {
    margin-top: 12px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;

    border-bottom: 1px solid rgba(133, 143, 164, 0.2);
    padding-bottom: 30px;

    .item {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #384255;
      opacity: 0.8;

      .checkbox {
        margin-right: 10px;
      }
    }
  }
}
