.equipments {
  padding: 0 40px;
  margin-top: 120px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.one {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  background: var(--dark-blue);
  color: var(--white);
}
.two {
  grid-column: 2 /3;
  grid-row: 1 / span 2;
}

.button {
  margin-top: 30px;
}
