.layout {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'body'
    'footer';
}

.header {
  grid-column: header;
}

.body {
  grid-column: body;
  max-width: 1410px;
  width: 100%;
  margin: 0 auto;
}

.footer {
  grid-column: footer;
}
