.layout {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'body'
    'footer';
}

.header {
  grid-column: header;
}

.body {
  grid-column: body;
  max-width: 1410px;

  margin: 0 auto;

  // @media screen and (max-width: 1600px) {
  //   padding: 0 20px;
  // }
}

.footer {
  grid-column: footer;
}
