.footer {
  width: 100%;
  background: var(--dark-blue);
  color: #fff;

  .wrapper {
    max-width: 1410px;
    margin: 0 auto;
    padding-top: 90px;

    @media screen and (max-width: 1440px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media screen and (max-width: 720px) {
      padding-top: 40px;
    }

    .main {
      display: flex;
      justify-content: space-between;
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(133, 143, 164, 0.15);

      @media screen and (max-width: 1100px) {
        flex-direction: column;
      }

      .links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 70px;

        @media screen and (max-width: 1200px) {
          gap: 30px;
        }
        @media screen and (max-width: 720px) {
          grid-template-columns: 1fr 1fr;
          gap: 50px;
          margin-bottom: 30px;
        }

        .linksColumn {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 12px;

          .title {
            margin-bottom: 28px;
            @media screen and (max-width: 720px) {
              margin-bottom: 10px;
            }
          }
          .link {
            cursor: pointer;
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            color: var(--smoke-gray);
            transition: all ease-in-out 0.5;

            &:hover {
              color: #fff;
            }
            @media screen and (max-width: 720px) {
              font-size: 14px;
            }
          }
        }
      }
      .contacts {
        @media screen and (max-width: 1100px) {
          margin-top: 30px;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-direction: row-reverse;
        }
        @media screen and (max-width: 720px) {
          flex-direction: column;
        }

        .subscribe {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          margin-bottom: 50px;
          background: rgba(133, 143, 164, 0.15);
          border-radius: 5px;
          width: 255px;
          height: 50px;

          input {
            background: none;
            font-weight: 400;
            font-size: 14px;
            color: var(--smoke-gray);

            &:focus {
              color: #fff;
            }
          }
          svg {
            cursor: pointer;
          }
        }

        .numbers {
          display: flex;
          flex-direction: column;
          gap: 8px;

          margin-bottom: 20px;
          .number {
            color: var(--smoke-gray);
            font-weight: 500;
            font-size: 16px;
          }
          .makeCall {
            cursor: pointer;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
          }
        }
        .emailSection {
          display: flex;
          flex-direction: column;
          gap: 8px;

          margin-bottom: 40px;
          .email {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: var(--smoke-gray);
          }
          .write {
            cursor: pointer;
            font-weight: 400;
            font-size: 14px;
            color: #fff;
          }
        }
        .politics {
          display: flex;
          flex-direction: column;
          gap: 8px;
          .politicsLink {
            cursor: pointer;
            font-weight: 400;
            font-size: 14px;
            color: var(--light-blue);
          }
        }
      }
    }
    .addition {
      display: flex;
      justify-content: space-between;
      padding: 50px 0px;

      @media screen and (max-width: 1200px) {
        width: 100%;
        flex-direction: column-reverse;
        align-items: flex-start;
      }

      .additionContainer {
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: right;

        @media screen and (max-width: 720px) {
          grid-template-columns: 1fr;
          gap: 20px;
        }
      }

      .additionLinks {
        display: flex;
        align-items: center;
        gap: 50px;

        @media screen and (max-width: 450px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 15px;
        }
      }

      .logo {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .rights {
          font-weight: 400;
          font-size: 14px;
          color: var(--smoke-gray);
        }
        svg {
          width: 275px;
          height: 35px;
        }
      }
      .social {
        display: flex;
        align-items: center;
        gap: 10px;
        svg {
          cursor: pointer;
          width: 22px;
          height: 22px;
        }
      }
      .payment {
        display: flex;
        align-items: center;
        justify-content: right;

        @media screen and (max-width: 720px) {
          justify-content: left;
        }
        svg {
          width: 70px;
          height: 35px;
        }
      }
    }
  }
}
