.nav {
  width: 100%;
  height: 45px;
  background: var(--nav-gray);

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.wrapper {
  max-width: 1410px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  align-items: center;

  @media screen and (max-width: 1500px) {
    padding: 0 20px;
  }
}

.dropdown {
  display: flex;
  align-items: center;
  height: 30px;

  @media screen and (max-width: 400px) {
    font-size: 12px;
  }
}

.home {
  cursor: pointer;
  padding-right: 30px;
  border-right: 1px solid var(--gray);
  @media screen and (max-width: 400px) {
    padding-right: 15px;
  }
}
.arrow {
  margin-left: 10px;
  width: 10px;
  height: 10px;
  fill: #fff;
}
.fitness {
  cursor: pointer;
  margin-left: 30px;
  @media screen and (max-width: 400px) {
    margin-left: 15px;
  }
}
