.search {
  cursor: pointer;
  margin-left: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-right: 30px;
  border-right: 1px solid rgba(133, 143, 164, 0.15);
}

.icon {
  width: 20px;
  height: 20px;
}
